# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*.egg-info
.venv
venv

# IDE
.idea
.vscode

# Tests
tests
.pytest_cache
.coverage

# Environment
.env
.env.*

# Docker
Dockerfile
docker-compose*.yml
